/*====  RESET ============================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

/*====  VARIABLES ============================ */
:root {
  --header-height: 4.5rem;

  /* colors */
  --hue: 159;
  /* HSL color mode */
  --base-color: #f3c826;
  --base-color-second: #f9e18b;
  --base-color-alt: #f7d764;
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 98%);

  /* fonts */
  --title-font-size: 1.2rem;
  --subtitle-font-size: 1rem;

  --title-font: 'Poppins', sans-serif;
  --body-font: 'DM Sans', sans-serif;
}

/*===  BASE ============================ */
html {
  scroll-behavior: smooth;
}

body {
  font: 400 1rem var(--body-font);
  color: var(--text-color);
  background: var(--body-color);
  -webkit-font-smoothing: antialiased;
}

.title {
  font: 700 var(--title-font-size) var(--title-font);
  color: var(--title-color);
  -webkit-font-smoothing: auto;
}

.button {
  background-color: var(--base-color);
  color: var(--text-color-light);
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.25rem;
  font: 500 1.2rem var(--body-font);
  transition: background 0.3s;
  transition: transform 1s;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
  transform: translateX(0) scale(0.9);
  border: #f3c826;
}

.button:hover, 
.button:focus{
  transform: translateX(10px) scale(1.2);
  background: var(--base-color-alt);
}

.divider-1 {
  height: 1px;
  background: linear-gradient(
    270deg,
   #f3c826,
   #fdf5d8
  );
}

.divider-2 {
  height: 1px;
  background: linear-gradient(
    270deg,
    #fdf5d8,
    #f3c826
  );
}

/*====  LAYOUT ============================ */
.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 2rem;
}

.section {
  padding: calc(5rem + var(--header-height)) 0; 
}

.section .title {
  margin-bottom: 1rem;
}

.section .subtitle {
  font-size: var(--subtitle-font-size);
}

.section header {
  margin-bottom: 4rem;
}

.section header strong {
  color: var(--base-color);
}

#header {
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 2rem;
  display: flex;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--body-color);
  width: 100%;
}

#header.scroll {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
}

/*====  LOGO ============================ */
.logo {
  font: 700 1.31rem var(--title-font);
  color: var(--title-color);
}

.logo span {
  color: var(--base-color);
  margin-left: 10px;
}

.logo-alt span {
  color: var(--body-color);
}

/*====  NAVIGATION ============================ */
nav {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

nav ul li {
  text-align: center;
}

nav ul li a {
  transition: color 0.2s;
  position: relative;
}

nav ul li a:hover,
nav ul li a.active {
  color: var(--base-color);
}

nav ul li a::after {
  content: '';
  width: 0%;
  height: 2px;
  background: var(--base-color);

  position: absolute;
  left: 0;
  bottom: -1.67rem;

  transition: width 0.2s;
}

nav ul li a:hover::after,
nav ul li a.active::after {
  width: 100%;
}

nav .menu {
  opacity: 0;
  visibility: hidden;
  top: -20rem;
  transition: 0.2s;
}

nav .menu ul {
  display: none;
}

/* Mostrar menu */
nav.show .menu {
  opacity: 1;
  visibility: visible;

  background: var(--body-color);

  height: 100vh;
  width: 100vw;

  position: fixed;
  top: 0;
  left: 0;

  display: grid;
  place-content: center;
}

nav.show .menu ul {
  display: grid;
}

nav.show ul.grid {
  gap: 4rem;
}

/* toggle menu */
.toggle {
  color: var(--base-color);
  font-size: 1.5rem;
  cursor: pointer;
}

nav .icon-close {
  visibility: hidden;
  opacity: 0;

  position: absolute;
  top: -1.5rem;
  right: 1.5rem;

  transition: 0.2s;
}

nav.show div.icon-close {
  visibility: visible;
  opacity: 1;
  top: 1.5rem;
}

/*====  HOME ============================ */
#home {
  overflow: hidden;
  padding-bottom: 0;
  display: flex;
}

#home .container {
  margin: 0;
}

#home .image {
  position: relative;
  z-index: 0;
}

#home .image h1{
  position: absolute;
  z-index: 1;
  color: white;
  margin-left: 80px;
  font-size: 36px;
  margin-top: 20px;
  font-weight: 900;
  font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#home .text {
  margin-left: 3rem;
  margin-right: 1.5rem;
  text-align: center;
}

#home .text h2 {
  margin-left: 1rem;
  font-size: 37px;
}

#home .text p {
  margin-bottom: 2rem;
  font-size: 20px;
}

.content{
  height: 400px;
  width: 600px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  bottom: 25%;
  left: 8%;
  animation: anima;
  animation-duration: 900ms;
}

.box-image img{
  position: absolute;
  width: 650px;
  height: 500px;
  animation: anima;
  animation-duration: 900ms;
  
}


@keyframes anima{
  from{transform: translate(-50px, 00);}
  to{transform: translate(0px, 00);}
}

input{
  display: none;
}
/*====  ABOUT ============================ */
#about {
  background-image: url("assets/Images/Fundo2.png");
}

#about .container {
  margin: 0;
}

#about .image {
  position: relative;
}

#about .image img {
  position: relative;
}

#about .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/*====  SERVICES ============================ */

.cards.grid {
  gap: 1.5rem;
  display: flex;
  align-items: center;
  margin-left: 10%;
}

.card {
  padding: 3.625rem 2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-radius: 0.25rem 0.25rem 0 0;
  text-align: center;
  vertical-align: middle;
  border-style: none;
  width: 50%;
  height: auto;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.5s;
    transition: all 0.5s;
  display: flex;
    flex-direction: column;
    align-items: center;
}

.card img{
  margin-top: 50px;
  margin-bottom: 50px;
  transition: 0.4s;
}

.card:hover{
  vertical-align: middle;
  border-style: none;
  width: 60%;
  height: auto;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.2s;
 background-color: #f7f7f7;
}

.card:hover img{
  transform:translateY(-20px);
}

.card::after{
  content: "";
  width: 0%;
  height: 4px;
  background-color: var(--base-color);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.4s ease-in-out;
  transition: 0.5s;
}

.card:hover::after{
  width: 100%;
}

.card .title {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}

/* swiper */
.swiper-slide {
  height: auto;
  padding: 4rem 1rem;
}

.swiper-pagination {
  position: relative;
}

.swiper-pagination-bullet {
  width: 0.75rem;
  height: 0.75rem;
}

.swiper-pagination-bullet-active {
  background: var(--base-color);
}

/*====  CONTACT ============================ */
#contact{
  background-image: url("assets/Images/Fundo2.png");
}

#contact .grid {
  gap: 4rem;
}

#contact h2{
  margin-left: 300px;
  margin-top: -50px;
}

#contact .links img {
  margin-left: 243px;
  fill: #f3c826;
}

.links {
  margin-left: 285px;
}

.links i {
  font-size: 15rem;
  color: #f3c826;
   
}

.links a{
  display: inline-block;
  transition: 0.5s;
}

.icon-youtube{
  padding-left: 158px;
}


.icon-instagram{
  margin-left: -21px;
}

.links a:hover{
  transform: translateY(-30px);
}

.links a:hover i{
  color: #f7d764;
}

/*====  FOOTER ============================ */
footer {
  background: var(--base-color);
}

footer.section {
  padding: 4rem 0;
}

footer .logo {
  display: inline-block;
  margin-bottom: 1.5rem;
}

footer .brand p {
  color: var(--text-color-light);
  margin-bottom: 0.75rem;
}

footer i {
  font-size: 1.5rem;
  color: var(--text-color-light);
   padding: 0.75rem;
}

footer .social {
  grid-auto-flow: column;
  width: fit-content;
}

footer .social a {
  transition: 0.3s;
  display: inline-block;
}

footer .social a:hover {
  transform: translateY(-8px);
}

/* Back to top */
.back-to-top {
  background: var(--base-color);
  color: var(--text-color-light);
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  clip-path: circle();
  width: 40px;
  height: 40px;
  background-image: url("assets/Images/icons8-acima-30.png");
  background-position: center;
  visibility: hidden;
  opacity: 0;
  background-repeat: no-repeat;
  transition: 0.5s;
  transform: translateY(100%);
  align-items: center;
}

.back-to-top:hover{
  background-image: url(assets/Images/ezgif.com-gif-maker.gif);

}

.back-to-top.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

/*========= MEDIA QUERIES =========*/
/* extra large devices: 1200 > */
@media (min-width: 1200px) {
  /* reusable classes */
  #home .container{
    margin-left: 50px;

  }

  .container {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
    
  }

  .section {
    padding: 10rem 0;
  }

  .section header{
    max-width: 32rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .button {
    height: 3.125rem;
  }

  /* navigation */
  nav .menu {
    opacity: 1;
    visibility: visible;
    top: 0;
  }

  nav .menu ul {
    display: flex;
    gap: 2rem;
  }

  nav .menu ul li a.title {
    font: 400 1rem var(--body-font);
    -webkit-font-smoothing: antialiased;
  }

  nav .menu ul li a.title.active {
    font-weight: bold;
    -webkit-font-smoothing: auto;
  }

  nav .icon-menu {
    display: none;
  }

  /* layout */
  main {
    margin-top: var(--header-height);
  }

  /* home */
  #home .container {
    grid-auto-flow: column;
    justify-content: space-between;
    
  }

  #home .image {
    order: 1;
  }

  #home .text {
    order: 0;
    max-width: 30rem;
  }

  /* about */
  #about .container {
    margin: 0 auto;
    grid-auto-flow: column;
  }

  /* services */

  .card img{
    width: 200px;
    height: 250px;
  }

  /* contact */

  #contact .text {
    max-width: 37rem;
  }

  /* footer */
  footer.section {
    padding: 3.75rem 0;
  }

  footer .container {
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
  }

  footer i{
    position: relative;
    padding: 0.75rem;
  }
  
  footer .social {
    margin-right: 5rem;
  }

  footer .logo {
    font-size: 2.25rem;
  }
}
/* large devices: 992 > */
@media (min-width: 992px) {
  :root {
    --title-font-size: 2.25rem;
    --subtitle-font-size: 1.125rem;
  }
}

@media (min-width: 1600px) {
  #home .container{
    margin-left: 300px;
  }

  #about .image img{
    float: left;
  }
}
